.home-nav {
	top: 0;
	z-index: 5;
	padding-left: 28%;
}

.item-link {
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 14px;
}

.item-link:hover {
	background-color: rgba(102, 102, 102, 0.117);
}

.list-item {
	border-bottom: 2px solid transparent;
}

.navActive {
	border-bottom: 2px solid #e58f4e !important;
}

@media only screen and (max-width: 1100px) {
	.home-nav {
		padding-left: 30%;
	}
}

@media only screen and (max-width: 768px) {
	.home-nav {
		overflow: auto !important;
		padding-left: 0;
		font-size: 14px;
	}
	.item-link {
		padding: 1px !important;
	}
}

